/* purgecss start ignore */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito:ital,wght@0,300;0,400;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,700&family=Orbitron:wght@400;500;800;900&display=swap");

@tailwind base;
@tailwind components;

html {
  font-family: "Lora", "Nunito Sans", sans-serif;
}
body {
  @apply bg-white-500;
}
p {
  @apply text-black-500;
}
.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-green-500 left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

li.custom-list:before {
  content: "\2022"; /* bullet point, for screen readers */
  text-indent: -9999999px; /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}

li.check:before {
  left: -0.5em;
  top: -0.5em;
  font-size: 300%;
}

.icon-forest-bath:before {
  background-image: url("/assets/Icon/forrest.png");
}

.icon-journaling:before {
  background-image: url("/assets/Icon/journaling.png");
}

.icon-mother-nature:before {
  background-image: url("/assets/Icon/mother-nature.png");
}

.icon-meditation:before {
  background-image: url("/assets/Icon/meditation.png");
}

.icon-forest-bath,
.icon-journaling,
.icon-mother-nature,
.icon-meditation {
  font-size: 0.8em; /* Adjust this value as needed */
}

/* Slideshow */
.slick-dots li {
  @apply inline-block;
}
.slick-dots span {
  @apply bg-gray-500;
}
.slick-dots .slick-active span {
  @apply bg-green-500 rounded-l-full rounded-r-full w-12;
}

/* purgecss end ignore */
@tailwind utilities;
/* purgecss start ignore */
/* purgecss end ignore */
